<div class="content-area">
  <h1>Editing Static Page</h1>

  <%= render 'form' %>

  <% if @available_image_names.count > 0  %>
    <%= render 'new_image' %>
  <% end %>

  <% if @static_page.file_attachments.count > 0  %>
    <%= render 'image_display' %>
  <% end %>
  <%= link_to 'Show', @static_page %> |
  <%= link_to 'Back', static_pages_path %>
</div>
