<p id="notice"><%= notice %></p>

<h1>Listing Static Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @static_pages.each do |static_page| %>
      <ul>
        <li>Name: <%= static_page.name %></li>
        <li>Title: <%= static_page.title %></li>
        <li>Body text: <%= static_page.body %></li>
        <li>
          <%= link_to 'Show', static_page %> |
          <%= link_to 'Edit', edit_static_page_path(static_page) %> |
          <%= link_to 'Destroy', static_page, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Static page', new_static_page_path %>
