<!--Edit Home Page here-->
<!--ERB file is an HTML file with bits of ruby in it. Before it's loaded up and served to the client (the Browser) it's run through an interpeter that executes the ruby and is able to insert the results into the HTML-->

<!DOCTYPE html>
<html>
<head>
  <title>NscSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Put menus, universal elements here-->
  <header>
    <div class=logo><a href="#"></a></div>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a>
                <ul>
                    <li><a href="#">Mission Statement</a></li>
                    <li><a href="#">Leadership Team</a></li>
                </ul>
              </li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Accompaniment</a></li>
              <li><a href="#">Legal Clinic</a></li>
              <li><a href="#">Campaigns</a></li>
              <li><a href="#">Resources & Sponsors</a></li>
          </ul>
      </nav>
</header>
  <!--End menus, universal elements-->
<div>
  <% if flash[:errors] %>
    <p id="errors"><%= flash[:errors] %></p>
  <% end %>
  <% if flash[:notices] %>
    <p id="notices"><%= flash[:notices] %></p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('Edit account', edit_user_registration_path) %>
  <% else %>
    <%= link_to('Sign up', new_user_registration_path)  %>
  <% end %>
</div>
<%= yield %> <!--evaluates to the corresponding page for the page one is currently on (e.g. home, about, etc.)-->

</body>
</html>
