<!--Edit Home Page here-->
<!--ERB file is an HTML file with bits of ruby in it. Before it's loaded up and served to the client (the Browser) it's run through an interpeter that executes the ruby and is able to insert the results into the HTML-->

<!DOCTYPE html>
<html>
<head>
  <title>NscSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Put menus, universal elements here-->
  <header>
    <div class=logo><a href="#"></a></div>
    <div class=account-bar>
      <% if user_signed_in? %>
        Logged in as <%= current_user.email %>
        <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %> |
        <%= link_to('Edit account', edit_user_registration_path) %>
      <% else %>
        <%= link_to('Create Account', new_user_registration_path)  %> |
        <%= link_to('Sign in', new_user_session_path) %>
      <% end %>
    </div>
      <nav>
          <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a>
                <ul>
                    <li><a href="/mission">Mission Statement</a></li>
                    <li><a href="/leadership">Leadership Team</a></li>
                </ul>
              </li>
              <li><a href="/action">Action</a></li>
              <li><a href="/accompaniment">Accompaniment</a></li>
              <li><a href="/legal">Legal Clinic</a></li>
              <li><a href="/campaigns">Campaigns</a></li>
              <li><a href="/resources">Resources & Sponsors</a></li>
          </ul>
      </nav>
</header>
  <!--End menus, universal elements-->
<div>


</div>
<% if flash[:errors] %>
  <p id="errors"><%= flash[:errors] %></p>
<% end %>
<% if flash[:notices] %>
  <p id="notices"><%= flash[:notices] %></p>
<% end %>
<div class="<%= "#{params[:controller]} #{params[:action]} #{params[:static_page_name] || StaticPage.where(id: params[:id]).first.try(:name)} #{@static_page.try(:class_string)}" %>">
  <%= yield %> <!--evaluates to the corresponding page for the page one is currently on (e.g. home, about, etc.)-->
</div>

</body>
</html>
